@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    color: #fff;
    font-family: 'Inter', sans-serif;

    background: #3E3E3E;

    user-select: none;
    -webkit-user-select: none;

    overflow-x: hidden;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    z-index: 1;
}

.main_content {
    display: grid;
    align-items: center;
    justify-content: center;

    font-size: 36px;
    text-align: center;

    gap: 20px;
}

.main_content_item {
    color: #fff;
    font-weight: 600;

    cursor: pointer;

    text-decoration: none;
    transition: .3s;
}

.main_content_item:hover {
    color: #007e39;
    text-shadow: #007e39 0px 0 40px;
    
    transform: scale(.95);
}

.main_content_img {
    width: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    opacity: 0;
    z-index: 1;
    transition: .3s;
    pointer-events: none;
}

.main_content_img.active {
    width: 200px;
    opacity: .3;
}

.main_content_footer {
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0;

    flex-shrink: 0;
}

.main_content_footer_author a {
    color: #886ce4;
    font-weight: 600;
    text-decoration: none;

    transition: .3s;
}

.main_content_footer_author a:hover {
    color: #fff;
}

.preloader {
    width: 100%;
    height: 100%;

    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background: #3E3E3E;
    z-index: 2;
}

.preloader-content {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
}

.preloader-content_button {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;

    user-select: none;
    -webkit-user-select: none;

    transition: .3s;
}

.main_container_video {
    width: auto;
    height: auto;

    min-width: 100%;
    min-height: 100%;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 0;
    margin: 0;

    z-index: 0;
}

.main_container_video iframe {
    min-width: 100%;
    min-height: 100%;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;

    user-select: none;
    -webkit-user-select: none;

    z-index: 0;
}

.main_container_video:after {
    content: '';

    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.503);
}

@media (min-aspect-ratio: 16/9) {
    .main_container_video iframe {
        /* height = 100 * (9 / 16) = 56.25 */
        height: 56.25vw;
    }
}

@media (max-aspect-ratio: 16/9) {
    .main_container_video iframe {
        /* width = 100 / (9 / 16) = 177.777777 */
        width: 177.78vh;
    }
}

@media (max-width: 1100px) {
    .main_container_video iframe {
        object-fit: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    .main_content {
        font-size: 30px;
    }

    .main_content_footer {
        display: grid;
        justify-content: center;
        
        text-align: center;
    }
}
